<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="section-container">
    <h2>About Us</h2>
    <p>
The Smart Complaint Tracking System is a web-based platform designed to help users easily register and track complaints online. The system allows users to submit their issues and enables administrators to manage, monitor, and resolve complaints efficiently.<br></br>

Our goal is to create a transparent and organized complaint management system that improves communication between users and administrators. The platform ensures that every complaint is recorded, tracked, and resolved in a timely manner.
    </p>
</div>
<footer class="footer">
<p>© 2026 Smart Complaint Tracking System | All Rights Reserved</p>
<p>Email: support@complaintsystem.com</p>
</footer>


    
</body>
</html>
