<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="otp-page">

    <div class="otp-container">
        <h2>Forgot Password</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <p style="color:green;">{{ msg }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Email Form -->
        <form method="POST">
            <input type="email" name="email" placeholder="Enter Email" value="{{ session.get('reset_email', '') }}"
                required>

            <button class="otp-btn" name="send_otp" type="submit">
                Send OTP
            </button>
        </form>

        <br>

        <!-- OTP Form -->
        <form method="POST">
            <input type="text" name="otp" placeholder="Enter OTP" value="{{ session.get('reset_otp_entered', '') }}"
                required>

            <button class="otp-btn" name="verify_otp" type="submit">
                Verify OTP
            </button>
        </form>

        <br>

        <!-- Password Form -->
        <form method="POST">
            <input type="password" name="new_password" placeholder="Enter New Password" required>

            <button class="otp-btn" name="update_password" type="submit">
                Update Password
            </button>
        </form>

    </div>

</body>

</html>