<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated</title>

    <link rel="stylesheet" 
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="otp-page">

    <div class="otp-container">
        <h2 class="success-message">
            Password Updated Successfully!
        </h2>

        <p>Please login with your new password.</p>

        <a href="/">
            <button class="otp-btn">
                Go to Login
            </button>
        </a>
    </div>

</body>
</html>