<!DOCTYPE html>
<html>
<head>
<title>Reply Complaint</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Reply to Complaint</h2>

<form method="POST">

<textarea name="reply" placeholder="Write reply to student..." required></textarea>

<br><br>

<button type="submit">Submit Reply</button>

</form>
<footer class="footer">
<p>© 2026 Smart Complaint Tracking System | All Rights Reserved</p>
<p>Email: support@complaintsystem.com</p>
</footer>

</body>
</html>